/* Remove borders for the main table */
table.principale, table.principale th, table.principale td {
    border: none !important;
}
table.principale td.heure{
    width: 100px;
}
.eye {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.eye:hover {
    opacity: 0.7;
}
/* Style for inside table */
table.principale .table.inside {
    margin-bottom: 0%;
    cursor: pointer;
    border-radius: 8px; /* Apply rounded corners to the entire table */
    overflow: hidden; /* Ensure rounded corners are visible */
    border: 1px solid #ccc; /* Gray border around the table */
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure the inside table takes full width */
}

/* Style for cells within the inside table */
table.principale .table.inside td {
    width: 50%;
    border: 1px solid #bcb7b7 !important; /* Gray border for cells */
    text-align: center; /* Center text in cells */
}

table.principale .table.inside:hover {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.container-fluid{
    background-color: #28377C;
    color: #fff;
}
.header-icon {
    width: 16px; /* Adjust size as needed */
    height: 16px; /* Adjust size as needed */
    vertical-align: middle;
    margin-left: 8px; /* Space between text and icon */
    cursor: pointer;
}
.modal-body .form-group {
    margin-bottom: 1rem;
}

.modal-body .form-control {
    width: 100%;
}

.modal-footer .btn {
    min-width: 100px;
}
