<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Charts</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>RO Chart</h3>
                <div id="roChart" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="col-md-6">
                <h3>TR Chart</h3>
                <div id="trChart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <script src="{% static 'track/js/charts.js' %}"></script>
</body>
</html>
